@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost&family=Montserrat&family=Open+Sans:wght@300&family=Poppins:wght@200;300;400;500&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500&family=Twinkle+Star&family=Ubuntu&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: "Jost", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Jost", sans-serif;
}
